//content: true
framework: net35, net40
lowest_matching: false
redirects: on
//references: strict
source https://api.nuget.org/v3/index.json
//storage: none
strategy: max

nuget Excel-DNA 0.32.0
nuget WixSharp
